#StartPanel
{
    position: absolute;
    min-width: 100%;
    min-height: 40px;
    bottom: 0%;
    left: 0%;
    z-index:500;
    background: url('../images/bgStart.png') repeat-x;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5); /* ??? Firefox */
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5); /* ??? Safari ? Chrome */
    box-shadow: 0 0 4px rgba(0,0,0,0.5); /* ????????? ???? */
}
#btnStart{
    position:relative;
    margin-top: 3px;
    width:  50px;
    height: 35px;
    /* border: 1px solid red; */
    float:left;
}
#btnStart .img
{
    position: relative;
    width:35px;
    height:35px;
    margin:0 7px;
    background-size: 35px 35px;
    background: url('../images/StartPanel.png');
}
#btnStart .img:hover
{
    background: url('../images/StartPanelActive.png');
}
.startMenu
{
    position: absolute;
    width: 30%;
    height: 1000%; /*не знаю почему такое значение*/ /*ахах, прикольно*/
    bottom: 0%;
    left:0%;
    z-index: 5;
    margin-bottom: 38px;
    background: url('../images/bgStartMenu.png') repeat;
    border-top-left-radius: 10px;/* свойство для тех кто его поддерживает */
    border-top-right-radius: 10px;
    -moz-border-radius-topleft:10px;  /* для firefox */
    -moz-border-radius-topright:10px;
    -webkit-border-radius-radius-topleft: 10px;
    -webkit-border-radius-radius-topright: 10px;
}
.startMenu.hide
{
    display:none;
}
.startMenu.content
{
    position: relative;
    margin: 5px;
    background: white;
    width: 200px;
    height: 95%;
    opacity: 1;
    z-index: 5;
}