.icon *
{
	margin: 0px;
	padding: 0px;
        font-family: 'Tahoma', Times, serif;
	font-style: normal;
	font-size: 8pt;
	color: #fff;
	text-shadow: #000  0   0   4px,
		     #000  1px 1px 1px, #000 -1px -1px 1px,
		     #000 -1px 1px 1px, #000  1px -1px 1px;
}

.window.active
{
    z-index: 3;
}

.window{
	z-index: 2;

}

.window.open
{
    resize: both;
    top:150px;
    left:200px;
    position:absolute;
    width: 500px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 170px;
    min-height: 80px;
    border-radius: 4px;  /* свойство для тех кто его поддерживает */
    -moz-border-radius: 4px;  /* для firefox */
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* ��� Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* ��� Safari � Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* ��������� ���� */
    overflow: hidden;
    resize: both;
}
.window.hide
{
    display:none;
}
.window.max
{
    width: 100%;
    height:100%;
    border:1px solid blue;

}

.winContent
{
	position:relative;
	margin-left:1%;
	width:98%;
	height:280px;
	background: #fff;
	overflow: hidden;
}

.winContent textarea
{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	border: none;
	outline: none;
}

.winContent audio
{
	width: 100%;
}

.winContent iframe
{
	width: 100%;
	height: 100%;
}

.header
{
	position: relative;
	width:100%;
	height: 30px;
	vertical-align: top;
	
}
button
{
	position: relative;
	float:right;
	width: 30px;
	height: 30px;
	border:none;
}
.Min
{
	background:url('../images/winmin1.png') no-repeat top left;
}
.Max
{
	background:url('../images/winmax1.png') no-repeat top left;

}
.Close
{
	background:url('../images/winclose1.png') no-repeat top left;
}
.Min:hover
{
	background: #ececec url('../images/winmin1.png') no-repeat top left;
}
.Max:hover
{
	background: #ececec url('../images/winmax1.png') no-repeat top left;

}
.Close:hover
{
	background: #ececec url('../images/winclose1.png') no-repeat top left;
}
.Min:active
{
	background: #0099ff url('../images/winmin0.png') no-repeat top left;
}
.Max:active
{
	background: #0099ff url('../images/winmax0.png') no-repeat top left;

}
.Close:active
{
	background: #ff0000 url('../images/winclose0.png') no-repeat top left;
}

.labelHeader
{
	position:absolute;
	margin:10px;
	margin-top:10px !important;
	color: #000 !important;
	text-shadow: #fff 0 0 0px !important;
}
