*
{
	margin: 0px;
	padding: 0px;
}

.window
{
	top:150px;
	left:200px;
	position:absolute;
	width: 400px;
	height: 250px;
	border:1px solid red;
}
.header
{
	position: relative;
	width:400px;
	height: 35px;
	background:#99ccff
	
	
}
.button
{
	position: relative;
	float:right;
	width: 35px;
	height: 35px;
}
.button.Min
{
	background:#99ccff url('../images/winmin.png') no-repeat top left;
}
.button.Max
{
	background:  #99ccff url('../images/winmax.png') no-repeat top left;
}
.button.Close
{
background: #ff6666 url('../images/winclose.png') no-repeat top left;
}


}