*
{
    margin:0px 0px 0px 0px;
}
body
{
    background: url('../images/bg.jpg');

}
#musicIcon{
    width:64px;
    height:84px;
    margin:10px 0 0 10px;
    cursor: pointer;
}

#textIcon{
    width:64px;
    height:84px;
    margin:10px 0 0 10px;
    cursor: pointer;

}


.imgMusic{
    width:64px;
    height:64px;
    background: url(../images/music.png);
}

.imgText{
    width:64px;
    height:64px;
    background: url(../images/text.png);
}
.music
{
    text-align:center;
    width:64px;
    height:20px;
    color:white;
}
.text{
    text-align:center;
    width:64px;
    height:20px;
    color:white;
}